* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sans-Serif;
}

.main {
    width: 100%;
    height: 100dvh;
    background-color: #fff;
}

.main .content {
    height: 100dvh;
    display: none;
    align-items: center;
    justify-content: center;
}

.main .content p {
    color: #fff;
    font-family: "Special Elite", system-ui;
}
